html, body, h1, h2, h3, h4, ol, ul, li, p, a {
        padding: 0;
        border: 0;
        margin: 0;
}
body {margin:0}
form#infoSubmit {


}
footer {
    height: 200px;
    margin-top: 20px;
}
footer > img {
    width: 150px;
    height: 150px;
    margin-top: 15px;
}
footer {
    border-top: blue solid 15px;
}
h1#signup {
    display: inline-block;

}
figure {
    align-content: center;
}
figure > img {

}
img > figcaption {
    display: inline-block;
    position: relative;
}
